[submodule "Yaroslab/v12_contact_yaros"]
	path = Yaroslab/v12_contact_yaros
	url = git@github.com:Yaroslab/v12_contact_yaros.git
	branch = dev

[submodule "Yaroslab/v12_pos_yaros"]
	path = Yaroslab/v12_pos_yaros
	url = git@github.com:Yaroslab/v12_pos_yaros.git
	branch = dev
